<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

	<form method="post" action="/restaurants/<%= restaurant.name %>">
		<input type="hidden" name="_method" value="put">
    <div class="form-group col-md-3">
      <input name="name"  class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-3">
      <input name="latitude"  class="form-control" placeholder="Latitude"/>
    </div>
    <div class="form-group col-md-3">
      <input name="longitude"  class="form-control" placeholder="Longitude"/>
    </div>
    <div class="form-group col-md-3">
      <input name="overall_rating"  class="form-control" placeholder="Overall Rating"/>
    </div>
    <div class="form-group col-md-3">
      <input name="greasy_rating"  class="form-control" placeholder="Greasy"/>
    </div>
    <div class="form-group col-md-3">
      <input name="tex_mex_rating"  class="form-control" placeholder="Tex Mex"/>
    </div>
    <div class="form-group col-md-3">
      <input name="artisanal_rating"  class="form-control" placeholder="Artisanal"/>
    </div>
    <div class="form-group col-md-3">
        <input class="btn btn-primary col-md-12" type="submit" value="Submit", placeholder= "Update Restaurant">
    </div>
	</form>

  </body>
</html>
