<h3>Rate Burrito</h3>
<fieldset>
 <form method="POST" action="/overall_rating">
   <div class="form-group col-md-4">
     <input name="overall_rating" class="form-control" placeholder="Overall Rating"/>
      <label class="radio-inline"><input type="radio" name="optradio">1</label>
      <label class="radio-inline"><input type="radio" name="optradio">2</label>
      <label class="radio-inline"><input type="radio" name="optradio">3</label>
      <label class="radio-inline"><input type="radio" name="optradio">4</label>
      <label class="radio-inline"><input type="radio" name="optradio">5</label>
   </div>
   <div class="form-group col-md-4">
     <input name="greasy_rating"  class="form-control" placeholder="Greasy"/>
   </div>
   <div class="form-group col-md-4">
     <input name="tex_mex_rating"  class="form-control" placeholder="Tex Mex"/>
   </div>
   <div class="form-group col-md-4">
     <input name="artisanal_rating"  class="form-control" placeholder="Artisanal"/>
   </div>
     <div class="form-group col-md-4">
       <input class="btn btn-primary col-md-12" type="submit" value="Submit">
     </div>
     <div class="form-group col-md-4">
       <input class="btn btn-primary col-md-12" type="delete" value="Delete">
     </div>
 </form>
</fieldset>


