<!DOCTYPE html>
<html>
  <head>
  	<title>Burrito Project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>
  <body>

    <main class="container">
      <%- body %>
    </main>

  </body>
</html>