<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=.5">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body class="container-fluid">
  <ul class="nav nav-pills">
  	<li role="presentation" class="active"><a href="/restaurants">Home</a></li>
  	<% if (user) { %>
              <li><a href="#">Welcome <%=user.local.email%>!</a></li>
              <li><a href="/passport/logout">Logout</a></li<a>
              <li><a href="/users/<%= user._id %>"> View Your Profile</a></li>

          <% } else { %>
              <li><a href="/passport/login">Login</a></li>
              <li><a href="/passport/signup">Signup</a></li>
            <% } %>
  </ul>
    <%- body %>
  </body>
</html>
