<!DOCTYPE html>
<html>
  <head>
  	<title>Burrito Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
  <% include ./login %>
   <% include ./map %>

   
    <% include ./restaurantShow %>
  </body>
</html>