<!DOCTYPE html>
<html>
  <head>
  	<title>Burrito Project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>

  </head>
  <body>
  <% include ./login %>

    <main class="container">
      <%#- body %>
    </main>

    <% include ./map %>
    <% include ./restaurantShow %>
  </body>
</html>