@import url(https://fonts.googleapis.com/css?family=Syncopate);

html, body {
    font-family: 'Syncopate', sans-serif;
    font-size: 17px; 
    font-weight: bold;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0;
}

body { padding-top: 10px; }

p, h1, h3, h4 {
    text-align: center;
    color: black;
}

.container {
    width: 75%;
}

ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#map { 
	height: 100%; 
	width: 100%;
}
