html, body {
    font-family: 'Lato', sans-serif;
    font-size: 17px; 
    font-weight: bold;
    background-color: #fff;
    color: black;
    height: 100%;
    width: 100%; 
    margin: 0; 
    padding: 0;
}

body { padding-top: 10px; }

p, h1, h3, h4 {
    text-align: center;
    color: #000;
}

.login, .signup {
    color: #000;
}

label {
    color: #000;
}

.radio-inline {
    color: #000;
}


.container {
    width: 75%;
}

ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#map { 
	height: 100%; 
	width: 100%;
}

.restaurantTitle {
    font-family: 'Pacifico', cursive;
}
