<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<h1>Edit Your Name!</h1>
	<form method="post" action="/users/<%= users._id %>">
		<input type="hidden" name="_method" value="put">
		<input type="text" name="email" value="<%= users.email %>">
		
		<button type="submit">Update Yoself!</button>
	</form>
</body>
</html>

<style type="text/css">
	
	body {
		margin: auto;
		text-align: center;
		position: relative;

	}


</style>