<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<ul>
	<% for(var i = 0; i < users.length; i += 1) { %>
		<li>
			<h3><a href="/users/<%= users[i]._id %>"><%= users[i].local.email %></a></h3>
			
		</li>
	<% } %>
	</ul>
</body>
</html>