<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">

		<h1><%= users.local.email %></h1>
		<br>	
			<!-- <form method="get" action="/users/<%=users._id%>/edit">
				<input type="hidden" name="_method" class="btn btn-default" value="edit">
				<button type="submit">Edit</button> -->

		<a href="/users/<%= users._id %>/edit"><button class="btn btn-block btn-primary">Edit</button></a>
		<br>
		<form method="post" action="/users/<%= users._id %>">
			<input type="hidden" name="_method" value="delete" >
			<button class="btn btn-block btn-danger" type="submit">Delete</button>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>