<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<h2><%= users.local.email %></h2>
	<h3><%= users.local.password %></h3>
<a href="/users/<%= users._id %>/edit">Edit</a>


<form method="post" action="/users/<%= users._id %>">
	<input type="hidden" name="_method" value="delete" />
	<button type="submit">Delete</button>
</form>

</body>